<div class="d-flex">
  <div class="booked">
      <h1>Hugs I've given</h1>
      <% @given_hugs.each do |hug| %>
        <div class="card-trip">
          <a href= <%= hug_path(hug) %> >
            <%= cl_image_tag hug.photo.key %>
            <div class="card-trip-infos">
              <div>
                <h2><%= hug.title %></h2>
                <p><%= hug.description %></p>
              </div>
              <h2 class="card-trip-evaluation">
                  <%= hug.mean%> <% if hug.mean.class == 1.class %> /10<% end %>
                </h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
              <% if hug.bookings.empty? %>
                <p>Pas encore de demande pour ce hug</p>
              <% else %>
                <% hug.bookings.each do |booking| %>
                  <li> Planifié du <%= booking.start_date %> au <%= booking.end_date %> du <%= booking.user_id %> </li>
                <% end %>
              <% end %>
            </div>
          </a>
        </div>
      <% end %>

  </div>
  <div class="container-card pending">
    <h1>Hugs I've received</h1>
    <ul class="list-group">
      <% @my_bookings.each do |booking| %>
      <div class="card-trip">
        <a href= <%= hug_path(booking.hug) %> >
      <%= cl_image_tag booking.hug.photo.key %>
      <div class="card-trip-infos">
        <div>
          <h2><%= booking.hug.title %></h2>
          <p><%= booking.hug.description %></p>
        </div>
        <h2 class="card-trip-evaluation">
            <%= booking.hug.mean%> <% if booking.hug.mean.class == 1.class %> /10<% end %>
          </h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        <p> Planifié du <%= booking.start_date %> au <%= booking.end_date %></p>
      </div>
    </a>
  </div>

      <% end %>
    </ul>
  </div>
</div>
