<div class="card-trip">
  <a href= <%= hug_path(hug) %> >
    <%= cl_image_tag hug.photo.key %>
    <div class="card-trip-infos">
      <div>
        <h2><%= hug.title %></h2>
        <p><%= hug.description %></p>
      </div>
       <h2 class="card-trip-evaluation">
          <%= hug.mean%> <% if hug.mean.class == 1.class %> /10<% end %>
        </h2>
        <% if hug.user.photo.attached? %>
          <%= cl_image_tag hug.user.photo.key, class: "card-trip-user avatar-bordered" %>
        <% else %>
          <%= image_tag('avatar.png', class: "card-trip-user avatar-bordered" )%>
        <% end %>
    </div>
  </a>
</div>
