<div class="card-trip">
  <%= image_tag hug.photo %>
  <div class="card-trip-infos">
    <div>
      <h2><%= hug.title %></h2>
      <p><%= hug.description %></p>
    </div>
    <h2 class="card-trip-evaluation">
      <%  if hug.reviews == [] %>
        <%= "not evaluated yet!" %>
        <% else %>
        <%= "see evaluation" %>
      <% end %>
      <a href= <%= hug_path(hug) %> >See details</a>
    </h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
