<div class= "cards-index">
    <div class="horizontal">
      <div>
        <%= cl_image_tag hug.photo.key %>
      </div>
      <div class="horizontal-infos">
        <div>
          <a href= <%= hug_path(hug) %> >
            <h2><%= hug.title %></h2>
          </a>
          <p><%= hug.description %></p>
          <h4><%= hug.price %>€</h4>
        </div>
        <div>
          <h3>
            <% if hug.mean.class == 1.class %>
              <%  hug.mean.times do %> &bigstar; <% end %>
              <%  (5 - hug.mean).times do %> &star; <% end %>
            <% else %>
              <%= hug.mean%>
            <% end %>
          </h3>
          <% if policy(hug).edit? %>
            <%= link_to("Edit", edit_hug_path(hug)) %>
          <% end %>
          <% if policy(hug).destroy? %>
            <%= link_to("Destroy", hug_path(hug), method: :delete, data: { confirm: "Are you sure?" }) %>
          <% end %></li>
        </div>
      </div>
    </div>
</div>
