<% navbar_style = action_name == 'home' ? "myhome" : "navbar-lewagon-white"%>

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top <%=navbar_style %> ">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "heart_hug.saturation.png" %>
      <span>Hugs on Demand</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-iconn"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Bookings", index_user_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Hugs", hugs_path, class: "nav-link" %>
        </li>

        <li class="nav-item dropdown">
          <img class="avatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="
          <% if (user_signed_in?) %>
            <%= cl_image_path(current_user.photo.key) %>
          <% else %>
            <%= image_path('smiley.png') %>
          <% end %>
            "/>

          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
