<%= render "shared/banner" %>

<div class="container-offer">
  <%
=begin%>
 <%= link_to "What hug will you choose?", hugs_path, class: "nav-link", id: "hug" %>
<%
=end%>
  <div class="card-container">
    <% @hugs.each do |hug|%>
      <%= render partial: "shared/card", locals: {hug: hug} %>
    <% end %>
  </div>
  <div class="map-benefit">
    <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <h4>Learn about the benefits of hugging.</h4>
    <p>
      <a href="https://www.medicinenet.com/how_do_hugs_make_you_feel/article.html" target="_blank"> Un article sur le sujet</a>
    </p>
  </div>
</div>
