<%= render "shared/banner" %>

<div class="container-offer">
  <%
=begin%>
 <%= link_to "What hug will you choose?", hugs_path, class: "nav-link", id: "hug" %>
<%
=end%>
  <div class="card-container">
    <% @hugs.each do |hug|%>
      <%= render partial: "shared/card", locals: {hug: hug} %>
    <% end %>
  </div>
  <div class="map-benefit">
    <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class="benefit">
        <a href="https://www.healthline.com/health/hugging-benefits" style="background-image: url(<%= image_path('hugging.png') %>);" target="_blank">Learn about the benefits of hugging.</a>
    </div>
  </div>
</div>
