
<h1>COUCOU L'AMI</h1>
<p>Voici les hugs listés</p>
<ul class="list-group">
  <% @hugs.each do |hug| %>
    <li class="list-group-item"><%= hug.title %></li>
    <li class="list-group-item"><%= hug.description %></li>
    <li class="list-group-item"><%= hug.category %></li>
    <li class="list-group-item"><%= hug.price %></li>
    <li class="list-group-item"><%= hug.city %></li>
    <li class="list-group-item"><%= hug.address %></li>
  <% end %>
</ul>
