<h1>Hugs' list </h1>
<p>This is the list of hugs created</p>
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

  <div class="container">
    <% @hugs.each do |hug|%>
      <ul>
      <%= render partial: "shared/horizontal", locals: {hug: hug} %>
      </ul>
    <% end %>

    <div class="row justify-content-center">
      <%= link_to "Create a hug", new_hug_path, class: "btn btn-gradient" %>
    </div>

    <div class="row justify-content-center">
      <%= link_to "Back to home page", root_path, class: "btn btn-ghost" %>
    </div>

  </div>
