<h1>Create a hug</h1>
<%# <p>Find me in app/views/hugs/news.html.erb</p> %>

<%= simple_form_for(@hug) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :category %>
  <%= f.input :price %>
  <%= f.input :city %>
  <%= f.input :address %>
  <%= f.input :photo, as: :file %>
<%= f.submit %>
<% end %>
