<p> C'est le bololo la navbar
Je mets ça juste pour avoir de la place </p>


<h1> <%= @hug.title %> </h1>

<h2> <% @hug.mean %>
  <% if @hug.mean.class == 1.class %>
      <%  @hug.mean.times do %> &bigstar; <% end %>
      <%  (5 - @hug.mean).times do %> &star; <% end %>
    <% end %>
</h2>

<h2><%= link_to("Book this hug", new_hug_booking_path(@hug)) %> </h2>
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @marker.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<ul class="list-group">
    <%# Active Storage  %>
    <%# Displaying image%>
    <%= cl_image_tag @hug.photo.key, height: 300, width: 400, class: "hug_img" %>
    <li class="list-group-item">Title :<%= @hug.title %></li>
    <li class="list-group-item">Description :<%= @hug.description %></li>
    <li class="list-group-item">Category :<%= @hug.category %></li>
    <li class="list-group-item">Price :<%= @hug.price %></li>
    <li class="list-group-item">Address :<%= @hug.address %></li>
</ul>

<%= link_to("Back to hugs' list", hugs_path) %>
  <% if policy(@hug).edit? %>
<p>It's you hug : you can :
    <%= link_to("Edit it", edit_hug_path(@hug)) %>
  <% end %>
  <% if policy(@hug).destroy? %>
    <%= link_to("Destroy it", hug_path(@hug), method: :delete, data: { confirm: "Are you sure?" }) %>
  <% end %>
</p>

<h3>List of bookings for <%= @hug.title %> - <%= link_to("Book this hug", new_hug_booking_path(@hug)) %>  </h3>
<ul class="list-group">
  <% @bookings.each do |booking| %>
    <ul> Taken from <%= booking.start_date %> to <%= booking.end_date %>
      <% if policy(booking).destroy? %>
        <%= link_to("It's your booking - You can cancel", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" }) %>
      <% end %>
    </ul>
  <% end %>
</ul>

<h3>List of reviews for <%= @hug.title %> - <%= link_to("Create a new review",new_hug_review_path(@hug))%> </h3>

<ul class="list-group">
  <% @reviews.each do |review| %>
    <ul> <%  review.evaluation.times do %> &bigstar; <% end %>
      <%  (5 - review.evaluation).times do %> &star; <% end %>

       - <%= review.description %>
      <% if policy(review).destroy? %> <%= link_to("It's your review - You can delete it", hug_review_path(review),  method: :delete, data: { confirm: "Are you sure?" }) %>
      <% end %>
    </ul>
  <% end %>
</ul>
