<h1>List of all reviews of a <%= @hug.title %>  </h1>

<ul class="list-group">
  <% @reviews.each do |review| %>
    <ul> <%= review.evaluation %> - <%= review.description %> </ul>
    <%= link_to("Destroy review", hug_review_path(@hug.id, review.id), method: :delete, data: { confirm: "Are you sure?" }) %>
  <% end %>
</ul>

<%= link_to("Create a review",new_hug_review_path(@hug))%>
<%= link_to("Go back to the hug",hug_path(@hug))%>
